<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>All movies</title>
  </head>
  <body>
    <form action="/movies" method="get">
      <label for="moods_select">Select moods</label>
      <br>
      <select id="moods_select" name="moods_ids[]" required multiple>
        <option value="">-- Select moods --</option>
        <% moods.each do |mood| %>
          <option value=<%= mood.id %>><%= mood.name %></option>
        <% end %>
      </select>
      <br>
      <button type="submit">Find</button>
    </form>
    <br>
    <% unless movies.any? %>
      0 results
    <% end %>
    <ul style="list-style: none">
      <% movies.each do |movie| %>
        <li style="margin-bottom: 10px">
          <a href=<%= "/movies/#{movie.id}" %>>
            <%= movie.title %>
          </a>
        </li>
      <% end %>
    </ul>
  </body>
</html>
