<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>All movies</title>
  </head>
  <body>
    <ul style="list-style: none">
      <% movies.each do |movie| %>
        <li style="margin-bottom: 10px">
          <a href=<%= "/movies/#{movie.id}" %>>
            <%= movie.title %>
          </a>
        </li>
      <% end %>
    </ul>
  </body>
</html>
