<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>My ratings</title>
  </head>
  <body>
    <table>
      <tbody>
        <% ratings.each do |rating| %>
          <tr>
            <td><%= rating.movie_title %></td>
            <td><%= rating.avarage_rating %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
