<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>All movies</title>
  </head>
  <body>
    <a href="/">Home</a>
    <h2><%= movie.title %></h2>
    <% if avarage_rating %>
      <p>Your avarage rating: <%= avarage_rating %></p>
    <% else %>
      <p>You haven't rated this movie yet.</p>
    <% end %>
    <form action="/ratings" method="post">
      <input type="hidden" name="movie_id" value=<%= movie.id %>>
      <label for="rating-select">Rate the title</label>
      <br>
      <select name="rating_value" id="rating-select" required>
        <option value="">-- choose rate --</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <br>
      <button type="submit">Submit</button>
    </form>

    <br><br>

    <form action="/ascribe_moods" method="post">
      <input type="hidden" name="movie_id" value=<%= movie.id %>>
      <label for="moods-select">Moods</label>
      <br>
      <select name="moods_ids[]" id="moods-select" required multiple>
        <option value="">-- Select moods --</option>
        <% moods.each do |mood| %>
          <option value=<%= mood.id %> <%= "selected" if ascribed_moods_ids.include?(mood.id) %>>
            <%= mood.name %>
          </option>
        <% end %>
      </select>
      <br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
