<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>All movies</title>
  </head>
  <body>
    <h2><%= movie.title %></h2>
    <form action="http://localhost:5001/ratings" method="post">
      <input type="hidden" name="movie_id" value=<%= movie.id %>>
      <label for="rating-select">Rate that title</label>
      <select name="rating_value" id="rating-select" required>
        <option value="">-- choose rate --</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>

      <br><br>

      <button type="subimt">Submit</button>
    </form>
  </body>
</html>
